<div class="col">
  <h1 class="text-center">All Users</h1>
</div>

<% @users.each_slice(3) do |users| %>
  <div class="row band-row">
    <% users.each do |user| %>
        <div class="card mt-5 text-center band-cards" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title band-title"> <%= user.name %></h5>
            <p class="card-text"> <%= user.description %></p>
            <a href="/users/<%="#{user.id}"%>" class="btn btn-primary btn-band">View Profile</a>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
