<h1><%= @user.name %></h1>
<h2>Contact</h2>
<%= @user.email %><br/>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit Account', "/users/#{@user.id}/edit" %><br/>
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'For real?' } %>
<% end %>
