<h1><%= @user.name %></h1>
<h2>Contact</h2>
<%= @user.email %><br/>


<%= link_to 'Edit Account', edit_user_path(@user) if policy(@user).update? %><br/>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'For real?' } if policy(@user).destroy? %>
