<div class="col">
  <h1 class="text-center">All Venues</h1>
</div>

<% @venues.each_slice(3) do |venues| %>
  <div class="row band-row">
    <% venues.each do |venue| %>
        <div class="card mt-5 text-center band-cards" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title band-title"> <%= venue.name %></h5>
            <p class="card-text"> <%= venue.description %></p>
            <a href="/venues/<%="#{venue.id}"%>" class="btn btn-primary btn-band">Learn More</a>
          </div>
        </div>
    <% end %>
  </div>
<% end %>

<div class="col text-center add-new-col">
  <% if can? :create, @venue %>
    <h4><%= link_to 'Add a New Venue', "/venues/new" %></h4>
    <p>To join an existing venue, the venue administrators must add you from their end.</p>
    <% end %>
</div>
