<h1><%=@venue.name%></h1>

<p><%=@venue.description%></p>

<h2>Venue Managers</h2>

<% @venue.users.each do |user|%>
  <li><%= link_to "#{user.name}", "/users/#{user.id}" %></li>
<% end %>

<br/>
<%= link_to 'Edit Venue', edit_venue_path(@venue) %>
