<h1>All Bands</h1>
<h4><% if can? :create, @band %><%= link_to 'Add or Join a Band', "/bands/new" %><% end %> </h4>
<% @bands.each do |band| %>
  <li><%= link_to band.name, band_path(band) %></li><br/>
<% end %>
