


<div class="row">
  <div class="col" align="center">
    <h1>All Bands</h1>
    <% @bands.each do |band| %>
      <li>
        <h4><%= link_to band.name, band_path(band) %></h4><br/>
      </li>
    <% end %>
  </div>

  <div class="col">
    <% if can? :create, @band %>
      <h4><%= link_to 'Create a New Band', "/bands/new" %></h4>
      <p>To join an existing band, the band administrators must add you from their end.</p>
      <% end %>
  </div>
</div>
