<h1>All Bands</h1>
<% if can? :create, @band %>
  <h4><%= link_to 'Create a New Band', "/bands/new" %></h4>
  <p>To join an existing band, the band administrators must add you from their end.</p>

<% end %>

<% @bands.each do |band| %>
  <li><%= link_to band.name, band_path(band) %></li><br/>
<% end %>
