<div class="homepage">
  <div class="col">
    <h1 class="text-center">Welcome to Gigger!</h1>
    <hr class="line"/>
    <h2 class="text-center"><em>A gig management system for bands and venues. A way for music lovers to find shows.</em></h2>
  </div>

  <% if current_user %>
    <div class="row text-center home-cards">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Bands</h5>
            <p class="card-text">Check out all of our bands, including their bio and upcoming shows.</p>
            <a href="/bands" class="btn btn-primary">Bands</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Shows</h5>
            <p class="card-text">Get information about upcoming shows!</p>
            <a href="/gigs" class="btn btn-primary">Shows</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Venues</h5>
            <p class="card-text">See the amazing venues we work with and their upcoming events.</p>
            <a href="/venues" class="btn btn-primary">Venues</a>
          </div>
        </div>
      </div>
    </div>

    <% else %>

    <div class="row home-links">
      <div class="col">
        <div class="text-center">
          <h3><em>Please sign in...</em></h3>
          <hr/>
          <h4><%= render partial: "/sessions/form" %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
