@import "bootstrap";

.container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.bg-dark p {
  color: #000;
}

.profile-image {
  width: 200px;
  padding: 20px;
}

.bands {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  border-top: 2px solid black;
  padding: 20px 0px;
  position: relative;
}

.band-filter {
  float: right;
}

.band-create-link {
  float: left;
}

.index-data {
  overflow: hidden;
}

.all-bands {
  overflow: hidden;
  background: white;
  padding: 40px;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.5rem lightgrey);
}

.band-image {
  height: 200px;
  display: inline-block;
  float: left;
  padding-right: 20px;
}

.black-line {
  border: 2px solid black;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px!important;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background: black;
}

.line {
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
}

.account-page {
  padding: 15px;
  background: white;
  filter: drop-shadow(0 0 0.5rem lightgrey);
  border-radius: 5px;
  margin-bottom: 40px;

}

.user-about {
  margin-bottom: 30px;
}

*{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  background: azure;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #d4edda;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-button, select {
  font-size: 15px;
  width: 150px;
  background: white;
  border: 1px solid grey;
  padding: 5px;
  margin: none;
  font-weight: bolder;
}

.home-links, .edit-form {
  padding-top: 20px;
  background: rgb(15,149,255);
  background: linear-gradient(180deg, rgba(15,149,255,1) 0%, rgba(52,107,195,1) 100%);
  width: 50%;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.75rem grey);
  margin-top: 30px;
  border-radius: 15px;
}

.home-links:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.edit-form {
  width: 70%;
}

.edit-form input, .edit-form textarea {
  width: 60%;
}

.home-links h3, .home-links hr, .edit-form h3 {
  color: white;
}

hr {
  border: 2px solid white;
}

input, textarea {
  padding: 15px;
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.or {
  padding-top: 50px;
}

.alert {
  border: none;
  border-radius: 0px;
}

.fb-button, .signup-button {
  background: #4267b2;
  color: white;
  font-weight: bolder;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  transition: transform .2s ease-in-out;
  width: 50%;
  font-weight: 400;
  border: 1px solid white;
}

.alert-warning {
  background: rgb(255,214,15);
  background: linear-gradient(233deg, rgba(255,214,15,1) 10%, rgba(255,248,119,1) 81%);
  color: black;
}

.alert-success {
  color: white;
  background: rgb(15,149,255);
  background: linear-gradient(180deg, rgba(15,149,255,1) 0%, rgba(52,107,195,1) 100%);
  border: none;
}

.navbar, .footer {
  filter: drop-shadow(0 0 0.75rem grey);
  background: black;
  color: #f3f2ee;
}

.navbar a {
  color: #f3f2ee;
}

.signup-button {
  background: white;
  color: black;
  border: 1px solid black;
  margin-bottom: 15px;
}


.home-cards {
  padding-top: 40px;
}

.card {
  border-radius: 10px;
  height: 200px;
  background: rgb(15,149,255);
  background: linear-gradient(180deg, rgba(15,149,255,1) 0%, rgba(52,107,195,1) 100%);
  color: #f3f2ee;
  filter: drop-shadow(0 0 0.75rem grey);
}

.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.band-cards {
  margin: 0 auto;
  padding-top: 10px;
  height: 250px;
}

.add-new-col {
  padding-top: 30px;
}

.band-title {
  font-size: 20px;
}

.btn {
  background: #333a40;
  color: white;
  margin: 0 auto;
  padding: 10px;
  transition: transform .2s ease-in-out;
  border: none;
  border-radius: 0px;
  font-weight: 400;
}

.calendar-title {
  font-size: 50px;
}

.calendar-col {
  padding-top: 50px;
}

.breadcrumb {
  margin-bottom: 0px;
}

.band-members {
  padding-top: 50px;
}

.error_explanation {
  filter: drop-shadow(0 0 0.75rem grey);
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  color: #f3f2ee;
  font-weight: bold;
  font-style: italic;
  background: red;
  text-align: center;
}

.error_explanation ul {
  list-style-type: none
}

.user-body {
  padding-top: 50px;

}
